name: Build and Push Example

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: rwx-cloud/build-push-action@v1
        id: build
        with:
          access-token: ${{ secrets.RWX_ACCESS_TOKEN }}
          file: .rwx/build.yml
          target: app
          push-to: docker.io/myorg/myapp:${{ github.sha }}

      - name: Use Image Reference
        run: |
          echo "Built image: ${{ steps.build.outputs.image-reference }}"
          echo "Run URL: ${{ steps.build.outputs.run-url }}"
